.small .react-colorful {
  width: 100%;
  height:150px;
}
.small .react-colorful__hue {
  height: 10px;
}

.small .react-colorful__alpha {
  height: 15px;
}

.custom-pointers .react-colorful__saturation-pointer {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
.custom-pointers .react-colorful__hue-pointer,
.custom-pointers .react-colorful__alpha-pointer {
  width: 7px;
  height: 15px;
  border-radius: 3px;
}
